@import 'css-helpers.css';
/* @import './mobile.css' screen and (max-width:679px); */
/* @import './desktop.css' screen and (min-width:680px); */

* {
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Thin;
    src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family:Impact;
    src: url(../fonts/impact/impact.ttf);
}

/* BASE */

html {
    font-family: Montserrat-Regular, sans-serif;
    line-height: 1.3;
    color: #000000;
}
body {
    margin: 0;
    font-size: 1.1875rem;
}
img {
    width: 100%;
}
input, select {
    font-size: 1.25rem;
}

/* LAYOUT */

.container {
    width: 100%;
}
.inner-container {
    margin-left: 5px;
    margin-right: 5px;
}

/* COMPONENTS */

/* header */
.header-container {
    height: 100%;
    background-color: #ff7f00;
}
.header-logo {
    padding-left: 5px;
}
img.logo {
    width: 133px;
}

/* nav bar */
.nav-bar-bg {
    background-color: #ff7f00;
}
.nav-bar {
    height: 100px;
}
.main-nav {
    display: list-item;
    padding-top: 30px;
}
.main-nav a {
    font-size: 1.1875rem;
    padding: 0 15px;
    color: #ffffff;
    text-decoration: none;
}

/* MAIN */

.main-content {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

/* search */
.main-search {
    height: 102px;
}
.search-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.search {
    text-align: center;
}
.search::after {
    content: '';
    background: url(../img/icons/search-icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    display: inline-block;

    /* size of image */
    height: 25px;
    width:25px;

    /* to change the position: */
    position: relative;
    left: -25px;
}
.search-text {
    font-family: Montserrat-Medium;
    font-size: 19px;
    border: 0;
    border-bottom: 1px solid #040a2c;
}
.keywords-container {
    text-align: center;
}
.keyword-item {
    display: inline;
    padding: 5px;
    cursor: pointer;
    color: #040a2c;
}

/* image-gallery */
.gallery-container,.meme-container {
    background-color: #e3e3e3;
    padding-top: 27px;
    padding-bottom: 27px;
}
.meme {
    flex-direction: column;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px,1fr));
    grid-gap: 5px;
}
.gallery-item {
    object-fit: cover;
    cursor: pointer;
}

/* meme-editor */

.canvas-container {
    padding-right: 50px;
}
/* .rect-selected-line {
    position: absolute;
    display: none;
    border: 1px solid #ffffff;
} */
.control-box {
    /* padding-left: 50px;  */
    width: 100%;
}
.ctrl {
    width: 100%;
    text-align: center;
}
.input {
    border-radius: 12px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    margin: 5px;
}
.input-text {
    width: 375px;
    height: 60px;
}
.select-container {
    padding: 10px;
}
.select-font {
    border: none;
    background-color: #ffffff;
    width: 175px;
}
.select-font:focus {
    outline: none;
}
.fill-color, .stroke-color {
    opacity:0; 
    position:absolute; 
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 2;
}
.icon {
    min-width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}
.pos-relative {
    position: relative;
}
.btn-align-right {
    text-align: right;
}
.btn {
    font-family: Montserrat-Medium,sans-serif;
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 12px;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff7f00;
}

/* about */
.about {
    background-color: #ffffff;
}

/* footer */
.main-footer {
    height: 207px;
    background-color: #ff7f00;
    text-align: center;
    padding-top: 77px;
}
.footer-logo {
    margin-left: auto;
    margin-right: auto;
}
.copyrights {
    color: white;
    margin-top: 16px;
}

@media(min-width:680px){
    
    /* LAYOUT */

    .container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .inner-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* COMPONENTS */

    /* header */
    .nav-bar {
        align-items: center;
        height: 66px;
    }
    .main-nav {
        display: flex;
        /* flex-direction: row; */
        padding-top: 0px;
    }
    .main-nav li:first-child {
        border-right: 1px solid #8a8a8a;
    }

    /* search */
    .search-container {
        height: 100%;
        flex-direction: row;
    }
    .search {
        width: 30%;
        padding: 20px 0;
    }
    .keywords-container {
        width: 60%;
        overflow: hidden;;
    }

    /* image-gallery */
    .meme {
        flex-direction: row;
    }
    .grid {
        grid-template-columns: repeat(3, minmax(250px,1fr));
        grid-gap: 20px;
    }

    /* meme-editor */
    .control-box {
        padding-left: 50px; 
        width: 50%;
    }
    .input-text {
        width: 340px;
    }
    .icon {
        width: 60px;
    }
}